@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Outfit', 'Inter', sans-serif;
    @apply text-slate-800 bg-slate-50/50 antialiased selection:bg-emerald-500 selection:text-white;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  @apply bg-slate-200 rounded-full hover:bg-slate-300 transition-colors;
}

/* Custom Soft Radial Background Blobs Animation */
@keyframes float {
  0% {
    transform: translate(0px, 0px) scale(1);
  }
  50% {
    transform: translate(30px, -50px) scale(1.1);
  }
  100% {
    transform: translate(0px, 0px) scale(1);
  }
}

@keyframes float-delayed {
  0% {
    transform: translate(0px, 0px) scale(1);
  }
  50% {
    transform: translate(-30px, 40px) scale(1.05);
  }
  100% {
    transform: translate(0px, 0px) scale(1);
  }
}

.animate-blob-1 {
  animation: float 20s infinite ease-in-out;
}

.animate-blob-2 {
  animation: float-delayed 25s infinite ease-in-out;
}
